<div class="excel__table unselectable"
     #excelTable
>

  <div class="row">

    <div class="row-info"></div>

    <div class="row-data"
         *ngFor="let column of alphabet; let index = index"
    >
      <div class="column"
           [ngStyle]="{
               width : resizeService.currentColumn === index
                       &&
                       resizeService.value + 'px'
           }"
      >
        {{ column }}

        <div class="column-resize"
             (mousedown)="
               resizeService.excelTableHeight = excelTable.offsetHeight;
               resizeService.resizeCol($event, index, colResizeLine)
             "
             [ngStyle]="{
                right : resizeService.currentColumn === index
                        &&
                        -resizeService.delta + 'px',

                opacity : resizeService.currentColumn === index
                          &&
                          resizeService.resize ? 1 : 0
             }"
        >
              <div class="column-resize-line"
                   #colResizeLine
                   [ngStyle]="{
                    opacity : resizeService.currentColumn === index
                              ? 1
                              : 0
              }">
             </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row"
       *ngFor="let row of rows; let rowI = index"
  >

    <div class="row-info">
      {{ rowI + 1 }}

      <div class="row-resize"
           (mousedown)="
               resizeService.excelTableWidth = excelTable.offsetWidth;
               resizeService.resizeRow($event, rowI, rowResizeLine)
             "
           [ngStyle]="{
                bottom : resizeService.currentRow === rowI
                         &&
                         -resizeService.delta + 'px',

                opacity : resizeService.currentRow === rowI
                          &&
                          resizeService.resize ? 1 : 0
             }"
      >
        <div class="row-resize-line"
             #rowResizeLine
             [ngStyle]="{
                    opacity : resizeService.currentRow === rowI
                              ? 1
                              : 0
              }"
        >
        </div>
      </div>
    </div>

    <div class="row-data"  >

      <div class="cell"
           *ngFor="let cell of row; let cellI = index"
           #currentCell

           [ngStyle]="{
            'border-top': cell.borderTop ? '2px solid #3c74ff' : '1px solid #e2e3e3',
            'border-right': cell.borderRight ? '2px solid #3c74ff' : '1px solid #e2e3e3',
            'border-bottom': cell.borderBottom ? '2px solid #3c74ff' : '1px solid #e2e3e3',
            'border-left': cell.borderLeft ? '2px solid #3c74ff' : '1px solid #e2e3e3',
            width : cell.width + 'px',
            height : cell.height + 'px',
            overflow : selectedService.editCell.row === rowI
                       &&
                       selectedService.editCell.cell === cellI
                       ? 'visible'
                       : 'hidden'
           }"

           (mousedown)="
               selectedService.selectedGroup($event, rowI, cellI);
               selectedService.selected($event, rowI, cellI)
           "
           (mousemove)="selectedService.selectedGroup($event, rowI, cellI)"
           (mouseup)="selectedService.clearMouseDownFlag()"
           (dblclick)="selectedService.setCellEdit(rowI, cellI, currentCell)"
      >
        <div [contentEditable]="selectedService.editCell.row === rowI
                                &&
                                selectedService.editCell.cell === cellI"
             [ngStyle]="{
                outline : selectedService.editCell.row === rowI
                          &&
                          selectedService.editCell.cell === cellI
                          ? '2px solid #167ad8'
                          : 'none',
                zIndex :  selectedService.editCell.row === rowI
                          &&
                          selectedService.editCell.cell === cellI
                          ? 20
                          : 10
             }"
        >
        </div>
      </div>

    </div>

  </div>

</div>
