<div class="excel__table unselectable"
     #excelTable
>

  <div class="row">

    <div class="row-info"></div>

    <div class="row-data"
         *ngFor="let column of alphabet; let index = index"
    >
      <div class="column"
           [ngStyle]="{
               width : resizeService.currentColumn === index
                       &&
                       resizeService.value + 'px'
           }"
      >
        {{ column }}

        <div class="column-resize"
             (mousedown)="
               resizeService.excelTableHeight = excelTable.offsetHeight;
               resizeService.resizeColHandle($event, index, colResizeLine)
             "
             [ngStyle]="{
                right : resizeService.currentColumn === index
                        &&
                        -resizeService.delta + 'px',

                opacity : resizeService.currentColumn === index
                          &&
                          resizeService.resize ? 1 : 0
             }"
        >
              <div class="column-resize-line"
                   #colResizeLine
                   [ngStyle]="{
                    opacity : resizeService.currentColumn === index
                              ? 1
                              : 0
              }">
             </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row"
       *ngFor="let row of rows; let rowI = index"
  >

    <div class="row-info">
      {{ rowI + 1 }}

      <div class="row-resize">
        <div class="row-resize-line"></div>
      </div>
    </div>

    <div class="row-data"  >

      <div class="cell"
           *ngFor="let cell of row; let cellI = index"

           [contentEditable]="editCell.row === rowI && editCell.cell === cellI"

           [ngStyle]="{
            'border-top': cell.borderTop ? '2px solid #3c74ff' : '1px solid #e2e3e3',
            'border-right': cell.borderRight ? '2px solid #3c74ff' : '1px solid #e2e3e3',
            'border-bottom': cell.borderBottom ? '2px solid #3c74ff' : '1px solid #e2e3e3',
            'border-left': cell.borderLeft ? '2px solid #3c74ff' : '1px solid #e2e3e3',
            width : cell.width + 'px'
           }"

           #currentCell
           (mousedown)="selectedGroup($event, rowI, cellI); selected($event, rowI, cellI)"
           (mousemove)="selectedService.mouseDownFlag && selectedGroup($event, rowI, cellI);"
           (mouseup)="selectedService.clearMouseDownFlag()"
           (dblclick)="setCellEdit(rowI, cellI, currentCell)"
      >
      </div>

    </div>

  </div>

</div>
